@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

// -------- Variables -------------

$light-teal: #79A8A9;
$dark-teal: #1F4E5F;

// ----------------------------------

body {
  font-family: 'Quicksand', 'Helvetica', 'Aerial', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

@import "partials/menu";
