@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

// -------- Variables -------------

$orange: rgb(246, 189, 88);
$blue: rgb(97, 197, 190);
$dark-blue: rgb(72, 81, 95);
$red: rgb(233, 94, 108);

// ----------------------------------

body {
  font-family: 'Quicksand', 'Helvetica', 'Aerial', sans-serif;
  font-weight: 400;
  background-color: #f2f2d9;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 80%;
}

.greeting {
  color: $red;
  padding-left: 15px;
  margin-bottom: 40px;
}

@import "partials/menu";
@import "partials/new-order";




// Cheeseburger and Drink by Hadi Davodpour from the Noun Project
