
.past-orders {
  background-color: #f9f9f9;
  padding: 17px;
  h4 {
    margin-top: 0;
  }
}

.order-status.open {
  color: $orange;
  margin-top: 30px;
}

.closed {
  color: $red;
}

.option-buttons {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 1px #f2f2eb;
}
