
.past-orders {
  background-color: #f9f9f9;
  padding: 17px;
  h4 {
    margin-top: 0;
  }
}

.open-orders {
  border-bottom: solid 1px #f2f2eb;
}

.closed-orders {
  padding-top: 15px;
}

.order-status {
  font-size: 20px;
}

.order-status.open {
  color: $orange;
  margin-top: 30px;
}

.closed {
  color: $red;
}


.option-buttons {
  button {
    background-color: transparent;
    border: none;
    border-style: none;
    text-decoration: underline;
    color: $dark-blue;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}
